extends layout

block content
    h2 Create new post
    form(action=`/create-post/${user}` method='POST')
        input(type="text", name='title', placeholder='Title')
        input(type="text", name='text', placeholder='Text')
        input(type="submit")